{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pin Storage</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/templates/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/templates/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/templates/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/templates/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/templates/assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Navbar ======= -->
  <div class="collapse navbar-collapse custom-navmenu" id="main-navbar">
    <div class="container py-2 py-md-5">
      <div class="row align-items-start">
        <div class="col-md-2">
          <ul class="custom-menu" style="display:flex; gap:120px;">
            <li class="active"><a href="/">Home</a></li>
            {{ if .isLoggedIn }}
                <li><a href="/create">Create</a></li>
                <li><a href="/messages">Messages</a></li>
                <li><a href="/profile">My Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            {{ else }}
                <li><a href="/sign-in">Sign In</a></li>
                <li><a href="/sign-up">Sign Up</a></li>
            {{ end }}
          </ul>
        </div>
      </div>

    </div>
  </div>

  <nav class="navbar navbar-light custom-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">PinStorage</a>
      <a href="#" class="burger" data-bs-toggle="collapse" data-bs-target="#main-navbar">
        <span></span>
      </a>
    </div>
  </nav>

{{template "main" .}}

  <!-- ======= Footer ======= -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/templates/assets/vendor/aos/aos.js"></script>
  <script src="/static/templates/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/templates/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/templates/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/templates/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/templates/assets/js/main.js"></script>

</body>

</html>
{{ end }}