{{ template "base" .}}
{{define "main"}}
<main id="main">

    <section class="section pb-5">
        <div class="container">
            <div class="row mb-5 align-items-end">
                <div class="col-md-6" data-aos="fade-up">
                    {{$pin := .pin}}
                    <h2> {{$pin.Description}} </h2>
                </div>

            </div>
            <div class="row justify-content-md-center">

                <div class="col-md-9 mb-7 mb-md-0" data-aos="fade-up">
                    <p><img src="{{ $pin.PinLink }}" alt="Image" class="img-fluid"></p>
                </div>

            </div>

        <div class="row">
                 <div class="col-4" data-aos="fade-up">
                       <a href="/saved-pins"><input type="submit" class="readmore d-block w-100" value="Save"></a>
                 </div>

                 <div class="col-4" data-aos="fade-up">
                       <a href="/saved-pins"><input type="submit" class="readmore d-block w-100" value="Like"></a>
                 </div>

                 <div class="col-4" data-aos="fade-up">
                       <a href="/saved-pins"><input type="submit" class="readmore d-block w-100" value="Dislike"></a>
                 </div>
        </div>

        </div>

    </section>

</main><!-- End #main -->
{{ end }}