{{ template "base" .}}
{{define "main"}}
<main id="main">

    <section class="section pb-5">
        <div class="container">
            <div class="row mb-5 align-items-end">
                <div class="col-md-6" data-aos="fade-up">

                    <h2>Profile</h2>
                    <br>
                    <br>
                    <br>
                    {{$user := .user}}
                    <ul class="list-unstyled">
                         <li class="mb-3">
                              <div class="d-flex mb-1">
                                  <h5>Username: {{ $user.Username }}}</h5>
                                          </div>
                                      </li>
                                      <li class="mb-3">
                                          <div class="d-flex mb-1">
                                  <h5>Birth date: {{ $user.BirthDate }}</h5>
                              </div>
                         </li>
                    </ul>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4 ml-auto order-2" data-aos="fade-up">
                 <p>{{ $user.Status }}</p>
                </div>

                <div class="col-md-7 mb-5 mb-md-0" data-aos="fade-up">
                    <p><img src="{{ $user.ProfileImg }}" alt="Image" class="img-fluid"></p>
                </div>

            </div>

        </div>

    </section>

    <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-center">
          {{ range $pin := .pins }}
          <div class="item branding col-sm-6 col-md-4 col-lg-4 mb-4">
            <a class="item-wrap fancybox">
              <div class="work-info">
                <h3>{{ $pin.Description }}</h3>
                <span>brandings</span>
              </div>
              <img class="img-fluid" src="{{ $pin.PinLink }}">
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </section><!-- End  Works Section -->

</main><!-- End #main -->
{{ end }}