{{ template "base" .}}
{{define "main"}}
<main id="main">

  <section class="section pb-5">
    <div class="container">

      <div class="row mb-5 align-items-end">
        <div class="col-md-6" data-aos="fade-up">
          <h2>Sign Up / <a href="/sign-in">Sign In</a></h2>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-up">

          <form method="post" class="php-email-form">

            <div class="row gy-3">
              <div class="col-md-6 form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" id="username" required>
              </div>
              <div class="col-md-6 form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
              </div>
              <div class="col-md-6 form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
              </div>
              <div class="col-md-6 form-group">
                <label for="birth_date">Birth Date</label>
                <input type="datetime-local" class="form-control" name="birth_date" id="birth_date" required>
              </div>
              <br>
              <br>
              <div class="col-md-6 mt-0 form-group">
                <input type="submit" class="readmore d-block w-100" value="Sign Up">
              </div>
              <input type="submit">
              <br>
              <br>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main><!-- End #main -->
{{ end }}
